{% if action == 'welcome' %}
    <div class="fleft">
        <h1>core2.pl</h1>
        <h2>Instalacja systemu</h2>
        <ul class="nav">
            <li>
                <a href="/install/database" class="btn btn-success">Przejdź dalej</a>
            </li>
        </ul>
    </div>
    <div class="fright">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Uwaga!</h3>
            </div>
            <div class="panel-body">
                Instalacja tylko dla zaawansowanych użytkowników!
            </div>
        </div>
    </div>
{% endif %}
{% if action == 'database' %}
    {% if error %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Nie udało się nawiązać połącznia. Sprawdź poprawność danych</strong>
        </div>
    {% endif %}
    <div class="well">
        <form class="bs-example form-horizontal" action="/install/database" method="POST">
            <fieldset>
                <legend>Konfiguracja bazy danych (krok 1 z 3)</legend>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Rodzaj bazy dancyh:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" name="db_type">
                            <option value="mysql"{% if config.mysql %} selected{% endif %}>MySQL</option>
                            <option value="sqlite"{% if config.sqlite %} selected{% endif %}>SQLite</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Host:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="localhost" name="db_host" value="{{ config.db_host }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Użytkownik:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="" name="db_user" value="{{ config.db_user }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Hasło:</label>
                    <div class="col-lg-10">
                        <input type="passwor" class="form-control" id="inputEmail" placeholder="" name="db_pass" value="{{ config.db_pass }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Baza danych:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="" name="db_name" value="{{ config.db_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="/install/welcome" class="btn btn-warning">Wstecz</a>
                        <button type="submit" class="btn btn-success">Przejdź dalej</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
{% if action == 'addones' %}
    <div class="well">
        <form class="bs-example form-horizontal" action="/install/addones" method="POST">
            <fieldset>
                <legend>Motywy i moduły (krok 2 z 3)</legend>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Motyw:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select" name="theme">
                            {% for theme in themes %}
                                <option value="{{ theme.name }}">{{ theme.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="/install/database" class="btn btn-warning">Wstecz</a>
                        <button type="submit" class="btn btn-success">Przejdź dalej</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
{% if action == 'user' %}
    <div class="well">
        <form class="bs-example form-horizontal" action="/install/user" method="POST">
            <fieldset>
                <legend>Administrator (krok 3 z 3)</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">E-mail:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPssword" class="col-lg-2 control-label">Hasło:</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputEmail" placeholder="" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a href="/install/addones" class="btn btn-warning">Wstecz</a>
                        <button type="submit" class="btn btn-success">Przejdź dalej</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
{% if action == 'summary' %}
    <div class="well">
        <form class="bs-example form-horizontal" action="/install/summary">
            <fieldset>
                <legend>Podsumowanie</legend>
            </fieldset>
        </form>
    </div>
{% endif %}